@import "~react-image-gallery/styles/css/image-gallery.css";

@font-face {
  font-family: 'GothamRounded';
  font-weight: bolder;
  font-style: normal;
  src: url('./fonts/GothamRounded-Bold.otf')format("opentype"),
       url('./fonts/GothamRounded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: bolder;
  font-style: italic;
  src: url('./fonts/GothamRounded-BoldItalic.otf')format("opentype");
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/GothamRounded-Book.otf')format("opentype"),
       url('./fonts/GothamRounded-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: normal;
  font-style: italic;
  src: url('./fonts/GothamRounded-BoldItalic.otf')format("opentype");
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/GothamRounded-Light.otf')format("opentype"),
       url('./fonts/GothamRounded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: 100;
  font-style: italic;
  src: url('./fonts/GothamRounded-LightItalic.otf')format("opentype");
}


@font-face {
  font-family: 'GothamRounded';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/GothamRounded-Medium.otf') format("opentype"),
       url('./fonts/GothamRounded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamRounded';
  font-weight: normal;
  font-style: italic;
  src: url('./fonts/GothamRounded-MediumItalic.otf')format("opentype");
}


body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00c1d5 !important;
  color: #f0f0f0;
  font-size: 16px;
  height: 100%;
}


.ant-divider-horizontal.ant-divider-with-text::before, .ant-divider-horizontal.ant-divider-with-text::after {
  border-color: rgba(0,0,0,0.06) !important;
}

.ant-pro-top-nav-header-logo {
  min-width: 0 !important;
}

.ant-pro-top-nav-header-main-left {
  min-width: 0 !important;
}

.ant-pro-global-header {
  background: #00c1d5dd !important;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #00c1d5dd !important;
}

.ant-typography.ant-typography-secondary {
  .ant-pro-menu-item-title {
    color: #ffffffee !important;
  }
}

.ant-pro-menu-item-title {
  color: #ffffffee !important;
}

// .ant-menu-item-active {
//   border-bottom: 3px solid #ffd100  !important;
// }

.ant-menu-item-selected {
  background: transparent !important;
}